<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h2 style="text-align:center">Quotes</h2>
        <hr>
        <ul *ngFor='let quotes of quote;let i = index' class="quote-list">
          <li>
            <div class="card">
              <div class="card-body">
                <strong>{{quotes.quotes}}</strong>
                <br>
                Author: <em>{{quotes.author}}</em><br><br>
                <app-details *ngIf='quotes.showDescription' [myQuote]='quotes' (isComplete) = 'completeGoal($event,i)'></app-details>
                <button (click)='toggleDetails(i)'>DITAILS</button>
              </div>
            </div>
          <li>

        </ul>

      </div>
    </div>
  </div>
