<div id="form">
  <h2 class="text-center">Create a new quote</h2>
  <hr>
  <form>
      <div class="form-group">
          <label for="quoteName">Enter your quote</label>
          <input type="text" required class="form-control" id="quoteName">
      </div>
      <div class="form-group">
          <label for="author">Authors Name</label>
          <input type='text' id="author" class="form-control" required>
      </div>
      <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="4" required></textarea>
      </div>
  </form>
</div>
